@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville&display=swap");

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Bebas Neue, sans-serif;
  background-color: whitesmoke;
}
h1 {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 51px;
  word-spacing: 4px;
  letter-spacing: 5px;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  /* resize: 10rem; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container  */

.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 3px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
    letter-spacing: 3px;
  }
  .image-container {
    margin: 10px;
  }
}
